html {
  font-family: Calibri, sans-serif;
  font-size: 18px;
  color: #234;
}

span {
  cursor: pointer;
}

input {
  width: 100px;
}

table {
  margin: 0 auto;
}

input[type='checkbox'] {
  width: 100px;
  height: 20px;
}

form {
  display: inline-block;
  border: 1px solid #ccc;
}

form > div {
  display: inline-block;
  padding: 5px;
}

.wrap-form {
  padding: 5px;
  text-align: center;
}

tr {
  border: 1px solid #ccc;
}
