.product {
  cursor: pointer;
  white-space: normal;
  font-size: 13px;
}
.product .wrap-sale {
  span {
    color: white;
    background: crimson;
    font-weight: bold;
    font-size: 14px;
    border-radius: 18px;
  }
}
.product .wrap-img {
  text-align: center;
}
.product .wrap-is-available {
  color: #00a046;
}
.product .wrap-buy {
  font-size: 18px;
  font-weight: bold;
  .icon-cart {
    color: #00a046;
    font-size: 28px;
  }
}

i[class|='fa'] {
  cursor: pointer;
}

.catalog-filter::-webkit-scrollbar {
  width: 8px; /**/
  background-color: var(--scrollbar-background);
}
.catalog-filter::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 8px;
}
.recently-viewed > .products::-webkit-scrollbar {
  height: 8px; /**/
  background-color: var(--scrollbar-background);
}
.recently-viewed > .products::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 8px;
}

html,
a,
button,
textarea,
select,
input {
  font-family: Nunito Sans, Noto Sans, sans-serif;
  font-size: 14px;
  color: #221f1f;
  outline: none;
}

body {
  background: var(--primary-bg-color);
}

.layout-linetop {
  text-align: center;
  color: #111;
  font-weight: bold;
  background-image: linear-gradient(
    120deg,
    #ff00d4 0%,
    #00ffa3 50%,
    #00f0ff 100%
  );
}

.layout-header {
  background: #111;
  color: white;
  .wrapper-header {
    .wrap-icon-logo {
      font-size: 42px;
    }
    .wrap-icon-menu,
    .wrap-icon-auth,
    .wrap-icon-orders,
    .wrap-icon-notifications,
    .wrap-icon-compare,
    .wrap-icon-wishlist,
    .wrap-icon-cart {
      font-size: 24px;
    }
    .wrap-button-catalog > button {
      cursor: pointer;
      background: transparent;
      color: white;
      border-radius: 10px;
      font-size: 16px;
      i {
        font-size: 24px;
      }
      span {
        font-size: 18px;
      }
    }
    .wrap-search {
      [type='search'] {
        font-size: 18px;
        font-weight: bold;
      }
      button {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.layout-verbose-filtration {
  background: var(--primary-bg-color);
}

.paginator {
  font-size: 26px;
  color: cornflowerblue;
  li {
    cursor: pointer;
  }
}

.recently-viewed {
}
.line-downloads {
  background: mediumseagreen;
}

.layout-links {
  font-size: 16px;
}

.tags-list {
}
.copyright {
  text-align: center;
}

.tapbar {
  background: var(--primary-bg-color);
  box-shadow: 0 0 5px 0 #2345;
  .wrap-tap {
    font-size: 22px;
    text-align: center;
  }
}
