[Unit]
After=network-online.target
###

Description=fullstack-monorepo-boilerplate
[Service]
WorkingDirectory=/home/postal404/web-apps/fullstack-monorepo-boilerplate
Environment=PATH=/home/postal404/.nvm/versions/node/v22.11.0/bin:/usr/local/bin:/usr/bin
Group=postal404
User=postal404

###
Restart=always
ExecStart=npm start
Environment=NODE_ENV=production
[Install]
WantedBy=multi-user.target
